h1 {
	color: rgba(0, 200, 100, 0.6);
	border-color: purple;
	border-width: 5px;
	border-style: solid;

	border: solid 2px green;
}

h4 {
	background: rgb(255, 100, 0);
}

body {
	/*background: url();
	background-repeat: no-repeat;
	background-size: cover;*/
	background: pink;
}

