img {
	width: 30%;
	margin: 1.66%;
	float: left;
}

p {
	font-family: Merriweather;
	margin-left: 1.66%;
	font-size: 25px;
	font-weight: 800;
	text-transform: uppercase;
	padding-bottom: 20px;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
}